<!DOCTYPE html>
<html>
<head>
  <title>Mexico::API::Territory</title>
  <%= stylesheet_link_tag    "api_territory/application", :media => "all" %>
  <%= javascript_include_tag "api_territory/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
